@model List<ControleEstoque.Web.Models.GrupoProdutoModel>
@{
    ViewBag.Title = "Cadastro de Grupo de Produtos";
}

@*Estilos CSS*@
<link href="~/Content/bootstrap-select.css" rel="stylesheet" />
<link href="~/Content/Cadastro/GrupoProduto.css" rel="stylesheet" />

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
        <div id="cabecalho_grid" class="row">
            <div class="col-md-12">
                <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i> Incluir</a>
                @Html.DropDownList("ddl_tam_pag", (SelectList)ViewBag.ListaTamPag, new { @class = "selectpicker" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_cadastro" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ativo</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var linha = 0;
                            foreach (var item in Model)
                            {
                                linha++;
                                if (linha <= ViewBag.QuantMaxLinhasPorPagina)
                                {
                                    <tr data-id="@item.Id">
                                        <td>@item.Nome</td>
                                        <td>@{var ativo = (item.Ativo ? "SIM" : "NÃO");}@ativo</td>
                                        <td>
                                            <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                                            <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    break;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @*Paginacao*@
        @if (ViewBag.QuantPaginas > 1)
        {
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            @for (int i = 2; i <= ViewBag.QuantPaginas; i++)
                            {
                                <li class="page-item"><a class="page-link" href="#">@i</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        }
    </section>
</div>

@*Modal*@
@Html.Hidden("id_cadastro")
<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
    <fieldset>
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("txt_nome", "Nome", new { @class = "col-md-3 control-label" })
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.Label("cbx_ativo", "Ativo", new { @class = "col-md-3 control-label" })
                    @Html.CheckBox("cbx_ativo")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="modal-footer">
                        <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Sair</a>
                        <a id="btn_confirmar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i> Salvar</a>
                    </div>
                    <div id="msg_aviso" class="alert alert-warning invisivel">Falta preencher os campos acima.</div>
                    <div id="msg_erro" class="alert alert-danger invisible">Ops! Deus ruim!</div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_alterar = '@Url.Action("RecuperarGrupoProduto", "CadastroGrupoProduto")';
        var url_excluir = '@Url.Action("ExcluirGrupoProduto", "CadastroGrupoProduto")';
        var url_confirmar = '@Url.Action("SalvarGrupoProduto", "CadastroGrupoProduto")';
        var url_page_click = '@Url.Action("GrupoProdutoPagina", "CadastroGrupoProduto")';
        var url_tam_pag_change = '@Url.Action("GrupoProdutoPagina", "CadastroGrupoProduto")';
    </script>
    <script src="~/Scripts/Cadastro/GrupoProduto.js"></script>
}
